.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#sidebar-wrapper{
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

.miniWeatherCard {
    border-width: 1px;
    border-style: solid; 
    border-color: black;
}

.align-items-center { 
    width:100%; 
    top: 100%; 
    transform: translateY(23%);
}

.weather-image {
    border: solid #ffffff;
    border-width: 0;
    border-radius: 99%;
    background-color: rgba(125,125,125,1);
    justify-items: center;
}

.align-weather-image {
    align-items: right;
}

.align-weather-text {
    text-align: left;
}

.sunset-predictor-color {
    color: black;
}

.sunset-predictor {
    padding-top: 4px;
    text-align: center;
    vertical-align: middle;  
    color: rgba(255,255,255,1);
}

.text-shadow {
    text-shadow: -0.05px -0.05px 4px rgba(0,0,0,1), 
                 0.05px 0.05px 4px rgba(0,0,0,1),
                 -0.05px 0.05px 4px rgba(0,0,0,1),
                 0.05px -0.05px 4px rgba(0,0,0,1);
}

@media screen and (min-width: 900px) { 
    .responsive-weather-image-size {
        width: 50px;
        height: 50px;
    }   

    .dailyButton {
        margin-bottom: 25px;
        font-size: 0.85rem;
    }

    .timelineDiv {
        background-color: #dddddd;
        font-size: 0.75rem;
        font-weight: bold;
        padding: 1px;
        border-radius: 15%;
        border-style: solid;
        border-width: 1px;
        border-color: black;
    }

    .navDateDisplay {
        font-size: 0.75rem;
        font-weight: bold;
        /*background-color:rgba(240, 240, 240, .7);*/
        background-color:rgba(0, 0, 0, .7);
        color: white;   
    }

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    .daily-image-left {
        -webkit-transform:translateX(0);
    }
    
}
@media screen and (max-width: 900px) {
    .responsive-weather-image-size {
        width: 25px;
        height: 25px;
    }
    
    .dailyButton {
        margin-bottom: 12px;
        font-size: 0.425rem;
    }

    .timelineDiv {
        background-color: #dddddd;
        font-size: 0.375rem;
        font-weight: bold;
        padding: 1px;
        border-radius: 15%;
        border-style: solid;
        border-width: 1px;
        border-color: black;
    }

    .navDateDisplay {
        font-size: 0.375rem;
        font-weight: bold;
        /*background-color:rgba(240, 240, 240, .7);*/
        background-color:rgba(0, 0, 0, .7);
        color: white;   
    }

    #sidebar-wrapper .sidebar-heading {
        padding: 0.4375rem 0.625rem;
        font-size: 0.6rem;
    }

    .daily-image-left {
        -webkit-transform:translateX(-8px);
    }
    
}